@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .myName {
        font-size: 2rem !important;
        text-align: center !important;
    }

    #profile {
        margin-top: 100px !important;
    }

    .profile-para {
        text-align: center;
    }
}
